---
layout: default
---

{% include mathjax.html %}

<head>
     <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

Welcome to my blog! You can also head <a
href="https://heptar.ch/qml">here</a> for QML content. <br><br>

<hr style="width:100%; margin-left:0px;height:0px">

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <div class="entry" style="margin: 15px 0px 0px 0px">
      </div>
  
      <!-- <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title }}</a></h3> -->

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{post.title }}</a>

      <div class="entry" style="margin: 10px 0px -40px 0px">
        {{ post.excerpt }}
      </div>
    </article>
  {% endfor %}
      </div>