---
layout: default
---

{% include mathjax.html %}

<head>
     <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h2 style="display:inline;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.subtitle }}</a></h2>
      <div class="entry" style="display:inline;">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
      </div>