<header>
   <a href="home.html" class="logo"><img src="logo3.svg" alt="Otherspace Logo" width="240" height="auto"></a>
        <nav>
            <ul>
                <li><a href="quantum.html">Quantum</a></li>
                <li><a href="ai.html">AI</a></li>
                <li><a href="crypto.html">Cryptography</a></li>
                <li><a href="lab.html">Lab</a></li>
                <li class="dropdown">
                <a href="home.html">Other</a>
		<ul>
                    <li><a href="https://blog.saxifrage.one">Blog</a></li>
                    <li><a href="careers.html">Careers</a></li>
		    <li><a href="mission.html">Mission</a></li>
                    <li><a href="FAQ.html">FAQ</a></li>
                    <li><a href="contact.html">Contact</a></li>
		  </ul>
            </li>
	      </ul>
        </nav>
    </header>