/* BASIC SETUP */

* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
}
        html, body {
            height: 100%;
            margin: 0;
	    scroll-behavior: smooth;
        }
        body {
            background-color: #23303dff;
            color: #ffffff;
            font-family: 'Jura', sans-serif;
            background-image: url('img/bg3.png'); 
            background-size: 2555px;
            background-position: top-left;
           /* background-repeat: repeat;*/
	    display: flex;
	    flex-direction: column;
	    background-attachment: fixed;
        }
        header {
	    width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: left;
            padding: 0.8rem 1.3rem 0.3rem 2.3rem;
	    position: fixed;
	    background-color: rgba(0, 1, 80, 0.0); /* Partially opaque black */
        }
.logo-container {
    position: relative;
    width: 225px; /* Adjust size as needed */
    height: 45px; /* Adjust size as needed */
            margin: -0.7rem;
}

.logo-container img {
    position: absolute;
    top: -1px;
    left: 15px;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in;
}

.hover-logo {
    opacity: 0;
}

.logo-container:hover .hover-logo {
    opacity: 1;
}

.logo-container:hover .logo {
    opacity: 1;
}
        nav ul {
            display: flex;
            list-style: none;
        }
        nav li {
            margin-right: 1rem;
        }
        nav a {
            color: #ffffff;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 500;
            letter-spacing: 1px;
            transition: all 0.5s ease-in-out;
        }
        nav a:hover {
            color: #ffffff; /*  #c7c7c7; */
            text-decoration: underline;
        }
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
	    flex: 1;
            padding: 4rem;
        }
        section {
	    background-size: cover;
	    display: flex;
	    justify-content: top;
	    align-items: center;
	    color: white;
	    font-size: 1.1rem;
	    text-align: center;
            width:28%;
	    height: 60vh;
            margin: 2rem;
            padding: 2rem -1rem;
            background-color: #aa6f7400;
            border-radius: 10px;
            text-align: center;
            transition: all 0.2s ease-in-out;
            opacity: 0.7;
        }
        section ul {
            margin-left: 2rem;
	    width: 90%;
	    font-size: 1.1rem;
	    font-weight: 300;
        }
	section .overlay{
	    background: rgba(0, 1, 80, 0.2); /* Partially opaque black */
	    padding: 20px;
	    border-radius: 10px;
	}
        section:hover {
            transform: translateY(-0px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.0);
            opacity: 1;
            color: #fffff;
            text-decoration: none;
        }
        section h1 {
            margin-bottom: 1rem;
            font-weight: 500;
        }
        section h2 {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }
.bai-jamjuree-regular {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}
        section p {
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.5;
            margin-bottom: 0rem;
	    font-family: 'Bai Jamjuree', sans-serif;
        }
        section button {
            font-family: 'Jura', sans-serif;
            background-color: #ffffff;
            color: #04707bff;
            font-size: 1.1rem;
            font-weight: 500;
            letter-spacing: 1px;
            padding: 0.8rem 1rem;
            border: none;
            border-radius: 0.7rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }
        section button:hover {
            background-color: #1f8e9820;
            color: #ffffff;
	    text-decoration: underline;
        }
        section a {
            color: #ffeedf; /*#c7c7c7;*/
	    text-decoration: none;
        }
        section a:hover {
            color: #ffffff; /*#c7c7c7;*/
	    text-decoration: underline;
        }
        section button a {
            color: #1f8e98ff;
	    text-decoration: none;
        }
        section button a:hover {
            color: #ffffff;
	    text-decoration: underline;
        }
        footer {
            /*display: flex;
            justify-content: space-between;*/
            text-align: center;
            padding: 1rem;
	    background-color: rgba(0, 1, 80, 0.0);
        }
        footer p {
            font-size: 0.9rem;
            font-weight: 400;
            margin-bottom: 0.3rem;
        }
        footer a {
            color: #ffffff;
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 500;
            letter-spacing: 1px;
            padding: 0.0rem 0.2rem;
            border-radius: 2rem;
            transition: all ;
	}
        footer a:hover {
            color: #ffffff; /*  #c7c7c7; */
	    text-decoration: underline;
	}
	
/* DROPDOWN MENU */

nav ul {
    display: flex;
    list-style: none;
    margin: -10px;
    padding: 24px;
}

nav li {
    margin: 0px 25px;
    position: relative;
}

nav .dropdown ul {
    position: absolute;
    top: 120%;
    left: 4px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
    padding: 10px;
    background-color: #aa6f7400;
    border-radius: 0px;
    display: block;
    text-align: right;
}

nav .dropdown:hover ul {
    visibility: visible;
    display: block;
    opacity: 1;
    transform: translateY(0); /* Added for smooth animation */
    text-align: right;
}

nav .dropdown ul li {
margin: 5px -23px;
}

nav .dropdown ul li a {
    color: #FFF;
    font-size: 0.95rem;
    text-decoration: none;
}

nav .dropdown ul li a:hover {
    text-decoration: underline;
    color: #ffffff; /*  #c7c7c7; */
}

/* WIDE SECTIONS */

section.wide {
            width: 60%;
            margin: 10rem 9rem 7rem -1rem;
            padding: 2rem;
            background-color: #aa6f7400;
            border-radius: 10px;
            text-align: left;
            transition: all 0.2s ease-in-out;
            opacity: 1.0;
	    font-size: 1.1rem;
	    font-family: 'Bai Jamjuree', sans-serif;
        }
        section.wide h1 {
            font-size: 1.7rem;
        }
        section.wide:hover {
            transform: translateY(-0px);
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.0);
            opacity: 1;
            color: #fffff;
            text-decoration: none;
        }

/* FIXED HEIGHT SCROLLING */

div.scroll {
        background-color: #fed9ff00;
        width: 800px;
        height: 140px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
        padding: 0;
      }
	
/* FORM STUFF */

.contact-container {
  max-width: 1200px;
  margin: -30pt 32pt 10pt;
  padding: 0px;
  text-align: left;
  display: block;
}

form {
  background-color: #f4f4f400;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.0);
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 20px;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

button {
            font-family: 'Jura', sans-serif;
            background-color: #ffffff;
            color: #04707bff;
            font-size: 1.1rem;
            font-weight: 500;
            letter-spacing: 1px;
            padding: 0.8rem 2rem;
            border: none;
            border-radius: 0.7rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }
button:hover {
            background-color: #087a84ff;
            color: #ffffff;
	    text-decoration: underline;
}

/* LANDING */

.landing {
    /*background: url('bg2.png') no-repeat center center fixed;*/
    background-size: cover;
    height: 80vh;
    width:65%;
    display: flex;
    justify-content: top;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

.landing .overlay {
    background: rgba(0, 1, 80, 0.2); /* Partially opaque black */
    padding: 20px;
    border-radius: 10px;
}

.motto {
    /*background: url('bg2.png') no-repeat center center fixed;*/
    background-size: cover;
    height: 80vh;
    width:50%;
    display: flex;
    justify-content: top;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

.motto .overlay {
    background: rgba(0, 1, 80, 0.0); /* Partially opaque black */
    padding: 20px;
    border-radius: 10px;
}

/* SIDENOTES */

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em;
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
    font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
    font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
    font-size: 1rem;
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%;
    clear:both;
}

span.newthought {
    font-variant: small-caps;
    font-size: 1.2em;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 760px) {
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
    }

    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    section > dl,
    section > ol,
    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    div.table-wrapper,
    table {
        width: 85%;
    }

    img {
        width: 100%;
    }
}
